<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoinFlip WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CoinFlip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - CoinFlip WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6295831F1BD1FCD30090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629583331BD1FCD30090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6295833E1BD1FCD40090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629583471BD1FCD40090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
