<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Digital Crown WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Digital Crown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Digital Crown WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>629586A21BD2FB520090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629586B61BD2FB520090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629586C11BD2FB520090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629586CA1BD2FB520090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
