<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coffee Decider WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Coffee Decider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - Coffee Decider WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>629583B01BD228240090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629583C41BD228240090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629583CF1BD228240090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>629583D81BD228240090A8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
